easyCalc/bin/Debug/net7.0-windows/easyCalc.deps.json
easyCalc/bin/Debug/net7.0-windows/easyCalc.dll
easyCalc/bin/Debug/net7.0-windows/easyCalc.exe
easyCalc/bin/Debug/net7.0-windows/easyCalc.pdb
easyCalc/bin/Debug/net7.0-windows/easyCalc.runtimeconfig.json
easyCalc/bin/x64/Debug/net7.0-windows/easyCalc.deps.json
easyCalc/bin/x64/Debug/net7.0-windows/easyCalc.dll
easyCalc/bin/x64/Debug/net7.0-windows/easyCalc.exe
easyCalc/bin/x64/Debug/net7.0-windows/easyCalc.pdb
easyCalc/bin/x64/Debug/net7.0-windows/easyCalc.runtimeconfig.json
easyCalc/bin/x64/Debug/net7.0-windows/calc.sqlite3
